.createPermanent__title{
    text-align: center;
}
.timetableItem__wrapper{
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    min-height: 60px;
    padding: 0 15px 0 15px;
}
.specialTimetableItem__wrapper{
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    min-height: 120px;
    padding: 0 15px 0 15px;
}
.changedTimetableItem__wrapper{
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    min-height: 60px;
    padding: 0 15px 0 15px;
    color: gray;
}
.changedSpecialTimetableItem__wrapper{
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    min-height: 120px;
    padding: 0 15px 0 15px;
    color: gray;
}
.lessionName{
    font-size: 26px;
    font-weight: 600;
}
.textItems__wrapper{
    text-align: center;
}
.specialTextItems__wrapper{
    padding: 10px;
    text-align: center;
}
.time__wrapper{
    width: 40px;
}
.line{
    border-bottom: 2px solid black;
}
.changedLine{
    border-bottom: 2px solid gray;
}
.buttons__wrapper{
    display: flex; 
    justify-content: space-around;
}
.saveButton{
    width: 45%;
    padding: 0.6em 1.4em 0.5em 0.8em;
    margin: 0;
    border-radius: 5px;
    border: 0px;
    background-color: #B6DF96;
    color: black;
    font-size: 16px;

}
.discardButton{
    width: 45%;
    padding: 0.6em 1.4em 0.5em 0.8em;
    margin: 0;
    border-radius: 5px;
    border: 0px;
    background-color: rgb(255, 103, 103);
    color: black;
    font-size: 16px;
   
}
