.instedOfLayout{
    text-align: center;
}
.createPermanent__title{
    text-align: center;
}
.timetableItem__wrapper{
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    min-height: 60px;
}
.SpecialTimetableItem__wrapper{
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    min-height: 120px;
}
.lessionName{
    font-size: 26px;
    font-weight: 600;
}
.textItems__wrapper{
    text-align: center;
}
.time__wrapper{
    width: 40px;
}
.changedTimetableItem__wrapper{
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    min-height: 60px;
    color: gray;
}