.wrapper{
    display: flex;
    justify-content: space-between;
}
.container{
    max-width: 120px;
    align-items: center;
}
.wrapper:first-child{
    justify-self: center;
}
.logo{
    font-size: 25px;
    font-weight: 700;
    font-family: 'KoHo';
}